@mixin main-content() {
	margin: 10px;
	padding: 10px 20px;
	width: 620px;
	min-height: 320px; //минимальная высота не должна быть менее высоты боковой панели
	background: #e8eff8;
	text-align: left;
}
